@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height:100vh;
  min-width: 100vw;
}


body {
  padding: 0;
  margin: 0;
  font-family: "Anonymous Pro";
  }

a {
  color: inherit;
  text-decoration: none;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

* {
  box-sizing: border-box;
}
 
#__next {
    display:flex;
    flex-direction:column;
}

pre::-webkit-scrollbar {
  display: none;
}